Multiple_Sensors.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Pepper2LAW",
            "type":  "string"
        }
    },
    "variables":  {
        "ServicebusConnectionName":  "[concat('Servicebus-', parameters('PlaybookName'))]",
        "AzureloganalyticsdatacollectorConnectionName":  "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "When_one_or_more_messages_arrive_in_a_queue_(auto-complete)":  {
                            "recurrence":  {
                                "frequency":  "Second",
                                "interval":  600
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Second",
                                "interval":  600
                            },
                            "splitOn":  "@triggerBody()",
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['servicebus_1']['connectionId']"
                                    }
                                },
                                "method":  "get",
                                "path":  "/@{encodeURIComponent(encodeURIComponent('peppers'))}/messages/batch/head",
                                "queries":  {
                                    "queueType":  "Main",
                                    "maxMessageCount":  20
                                }
                            }
                        }
                    },
                    "actions":  {
                        "Compose_-_Write_Service_Bus_Message_-_Base64ToString":  {
                            "runAfter":  {
                            },
                            "type":  "Compose",
                            "inputs":  "@base64ToString(triggerBody()?['ContentData'])"
                        },
                        "Parse_JSON_-_Parse_Temperature_and_Humidity_To_Update_Custom_Log_Name":  {
                            "runAfter":  {
                                "Compose_-_Write_Service_Bus_Message_-_Base64ToString":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@outputs('Compose_-_Write_Service_Bus_Message_-_Base64ToString')",
                                "schema":  {
                                    "properties":  {
                                        "Hostname":  {
                                            "type":  "string"
                                        },
                                        "Moisture":  {
                                            "type":  "integer"
                                        },
                                        "Temperature":  {
                                            "type":  "number"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Send_Data_-_Send_Data_To_Log_Analytics":  {
                            "runAfter":  {
                                "Parse_JSON_-_Parse_Temperature_and_Humidity_To_Update_Custom_Log_Name":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  "{\n\"Temperature\" : \"@{body('Parse_JSON_-_Parse_Temperature_and_Humidity_To_Update_Custom_Log_Name')?['Temperature']}\",\n\"Humidity\" : \"@{body('Parse_JSON_-_Parse_Temperature_and_Humidity_To_Update_Custom_Log_Name')?['Moisture']}\",\n\"PepperName\": \"@{body('Parse_JSON_-_Parse_Temperature_and_Humidity_To_Update_Custom_Log_Name')?['Hostname']}\"\n}",
                                "headers":  {
                                    "Log-Type":  "PepperConditions",
                                    "time-generated-field":  "@{utcNow()}"
                                },
                                "path":  "/api/logs"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "servicebus_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('ServicebusConnectionName'))]",
                                "connectionName":  "[variables('ServicebusConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Servicebus')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azureloganalyticsdatacollector_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]",
                                "connectionName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('ServicebusConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('ServicebusConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('ServicebusConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Servicebus')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                }
            }
        }
    ]
}
